.mrgT10 {
    margin-top: 10px;
}
.mrgT20 {
    margin-top: 20px;
}
.mrgT30 {
    margin-top: 30px;
}
.mrgT40 {
    margin-top: 40px;
}
.mrgT50 {
    margin-top: 50px;
}

.mrgB10 {
    margin-bottom: 10px;
}
.mrgB20 {
    margin-bottom: 20px;
}
.mrgB30 {
    margin-bottom: 30px;
}
.mrgB40 {
    margin-bottom: 40px;
}
.mrgB50 {
    margin-bottom: 50px;
}