<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO 테스트</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    //주소뒤에 run1은 웹소켓 네임스페이스
    const socket = io.connect('http://localhost:8005/run1', {
      path: '/socket.io',
      transports: ['websocket']
    });
    socket.on('news', (data) => {
      console.log('socket.io로부터 받은 메시지 : ', data);
      socket.emit('reply', 'Hello socket.io??');
      socket.emit('express', 'Hello kkk');
    })
    
  </script>
  dd
</body>
</html>