<div class="page-header">
    <h1>이벤트 핸들링</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">이벤트 청취</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
           <button v-on:click="count += 1">Add 1</button>
           <p>버튼을 누를 때마다 +1</p>
           <p>누른 횟수 : {{ count }}</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">메소드 이벤트 핸들러</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
           <button v-on:click="count += 1">Add 1</button>
           <p>버튼을 누를 때마다 +1</p>
           <p>누른 횟수 : {{ count }}</p>
        </div>
    </div>
</div>

<!-- js -->
<script src="js/vue/test11.js"></script>