<div class="page-header">
    <h1>이벤트 핸들링</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">이벤트 청취</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
           <button v-on:click="count += 1">Add 1</button>
           <p>버튼을 누를 때마다 +1</p>
           <p>누른 횟수 : {{ count }}</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">메소드 이벤트 핸들러</h3>
    </div>
    <div class="panel-body">
        <div id="app2">
            <button class="btn btn-primary" v-on:click="great">Great</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">인라인 메소드 핸들러</h3>
    </div>
    <div class="panel-body">
        <div id="app3">
            <button class="btn btn-info" v-on:click="say('hi')">Say hi</button>
            <button class="btn btn-info" v-on:click="say('what')">Say what</button>
            <button class="btn btn-danger" v-on:click="warn('Form cannot be submitted yet.', $event)">Submit</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">이벤트 수식어</h3>
    </div>
    <div class="panel-body">
        <div id="app4">
            <div>
                클릭 이벤트 전파 중단
                <a v-on:click.stop="doThis">doThis</a>
            </div>
            <div>
                제출 이벤트가 페이지를 다시 로드 하지 않음
                <form v-on:submit.prevent="onSubmit"></form>
            </div>
            <div>
                수식어는 체이닝이 가능
                <a v-on:click.stop.prevent="doThat"></a>
            </div>
            <div>
                단순 수식어만 사용할 수 있음
                <form v-on:submit.prevent></form>
            </div>
            <div>
                이벤트 리스너를 추가할 때 캡처모드를 사용.
                내부 엘리먼트를 대상으로 하는 이벤트가 해당 엘리먼트에서 처리되기 전에 여기서 처리?
                <div v-on:click.capture="doThis">....</div>
            </div>
            <div>
                event.target이 엘리먼트 자체인 경우에만 트리거를 처리 (자식 엘리먼트에서는 안됨)
                <div v-on:click.self="doThat">....</div>
            </div>
            <div>
                클릭 이벤트 최대 한번만 트리거
                <a v-on:click.once="doThis">ss</a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">키 수식어</h3>
    </div>
    <div class="panel-body">
        <div id="app5">
            <input type="text" v-on:keyup.enter="check" v-model="what">
            <input type="text" v-on:keyup="check($event)" v-model="what">
            <p>{{ what }}</p>
            <input type="text" v-on:keyup.Control="check">
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">시스템 수식어 키 목록</h3>
    </div>
    <div class="panel-body">
        <div id="app6">
            <code>.ctrl</code> <code>.alt</code> <code>.shift</code> <code>.meta</code>
            <div>
                <code>@keyup.alt.67</code> = > alt + c
                <input id="clearTest" @keyup.alt.67="clear" placeholder="clearTest">
                <input id="clearTest2" v-on:keyup.alt.67="clear" placeholder="clearTest2">
            </div>
            <div>
                <code>.exact</code>
                <!-- Alt 또는 Shift와 함께 눌린 경우에도 실행됩니다. -->
                <button @click.ctrl="onClick">Ctrl 누른 상태에서 클릭해야함!!</button>
                <!-- Ctrl 키만 눌려있을 때만 실행됩니다. -->
                <button @click.ctrl.exact="onCtrlClick">Ctrl 키만 실행?</button>
                <!-- 아래 코드는 시스템 키가 눌리지 않은 상태인 경우에만 작동합니다. -->
                <button @click.exact="onClick">시스템 키 안눌렸을 때만</button>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="js/vue/test11.js"></script>