<div class="page-header">
    <h1>폼 입력 바인딩</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">기본 사용법</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
        </div>
    </div>
</div>


<!-- js -->
<script src="js/vue/test12.js"></script>