<div class="page-header">
    <h1>컴포넌트</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">컴포넌트 사용하기</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
           <div class="mrgB20">
               # 전역등록
               <div>
                    <my-component></my-component>
               </div>
           </div>
           <div class="mrgB20">
               # 지역등록
               <div>
                   <child-component></child-component>
               </div>
           </div>
           <div class="mrgB20">
               # DOM 템플릿 구문 분석 경고
               <div>
                   기본
                   <table class="table">
                        <tr><td>tdtdtdtdtdtd1</td><td>tdtdtdtdtdtd2</td></tr>
                   </table>
                   잘못된
                   <table class="table">
                        <tr-component></tr-component>
                   </table>
                   <code>is 특수 속성을 사용하면?</code>
                   <table class="table">
                        <tr is="tr-component"></tr>
                   </table>
                   번외(data 테스트)
                   <table class="table">
                        <tr is="tr-com"></tr>
                    </table>
               </div>
           </div>
           <div class="mrgB20">
               # data는 반드시 함수여야한다.
               <div>
                   <my-com></my-com>
               </div>
               공식홈 예제
               <div>
                   <simple-counter></simple-counter>
                   <simple-counter></simple-counter>
                   <simple-counter></simple-counter>
               </div>
           </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Props</h3>
    </div>
    <div class="panel-body">
        <div id="app2">
            <div class="mrgB20">
                # Props로 데이터 전달하기
                <div>
                    <child message="안녕!!!" name="송민우"></child>
                </div>
            </div>
            <div class="mrgB20">
                # camelCase vs kebab-case
                <div>
                    <case my-message="CASE1!!!!"></case>
                    <case my-Message="CASE2!!!!"></case>
                    <component-test></component-test>
                    <!-- <case myMessage="CASE3!!!!"></case> -->
                </div>
            </div>
            <div class="mrgB20">
                # 동적 Props
                <div>
                    <input type="text" v-model="parentMsg">
                    <br>
                    <child2 parent-msg="parentMsg"></child2>
                    <br>
                    <child2 v-bind:parent-msg="parentMsg"></child2>
                    <br>
                    <!-- 이건 어떻게하는건지 잘 모르겠음... -->
                    <todo-item v-bind="todo"></todo-item>
                    <br>
                    <!-- <input v-bind:text="todo.text" v-bind:is-complate="todo.isComplate"> -->
                </div>
            </div>
            <div class="mrgB20">
                # 리터럴 vs 동적
                <div>
                    <comp some-prop="1"></comp>
                    <comp v-bind:some-prop="1"></comp>
                </div>
            </div>
            <div class="mrgB20">
                # 단방향 데이터
                <div>
                    <compo1 initial-counter="100" size="AA AAAA"></compo1>
                </div>
            </div>
            <div class="mrgB20">
                # Prop 검증
                <div>
                  <example prop-c="ss"></example>  
                </div>
            </div>
        </div>
    </div>
</div>


<!-- js -->
<script src="js/vue/test13.js"></script>