<div class="page-header">
    <h1>폼 입력 바인딩</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">기본 사용법</h3>
    </div>
    <div class="panel-body">
        <div id="app1">
            <div class="mrgB20">
                문자열
                <input v-model="message" placeholder="여기를 수정해보세요">
                <span>메세지: {{message}}</span>
            </div>
            <div class="mrgB20">
                여러줄을 가진 문장
                <p style="white-space: pre-line;">{{message2}}</p>
                <textarea class="form-control" v-model="message2" placeholder="여러줄을 입력해보세요"></textarea>
            </div>
            <div class="mrgB20">
                체크박스
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{checked}}</label>
            </div>
            <div class="mrgB20">
                여러개의 체크박스
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>체크한 이름 : {{checkedNames}} </span>
            </div>
            <div class="mrgB20">
                라디오
                <br>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>선택: {{ picked }}</span>
            </div>
            <div class="mrgB20">
                <button class="btn btn-primary" v-on:click="submit">Save</button>
            </div>
            <div class="mrgB20">
                셀렉트박스<br>
                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option value="1">A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Select : {{ selected }}</span>
            </div>
            <div class="mrgB20">
                다중 셀렉트<br>
                <select v-model="selected2" multiple>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>
                <span>Selects : {{ selected2 }}</span>
            </div>
            <div class="mrgB20">
                <code>v-for</code>를 이용한 동적 옵션 렌더링<br>
                <select v-model="forSelected">
                    <option v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
                </select>
                <span>Select : {{ forSelected }}</span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">값 바인딩 하기</h3>
    </div>
    <div class="panel-body">
        <div id="app1">

        </div>
    </div>
</div>

<!-- js -->
<script src="js/vue/test12.js"></script>