<div class="page-header">
    <h1>DataTables API</h1>
    <P>기본적 테이블에 뿌려줄 데이터를 넘겨주면 밑에처럼 표기해줌</P>
    <p>json파일 안에 데이터를 가져와 처리하는 형식으로 만들었지만, ajax를 통해 데이터를 가져와서 뿌려주고 처리해주는 것도 가능함.</p>
    <p>뿌려질 때도 데이터 그대로만 뿌려줄 뿐만 아니라 상황에 따라 다르게 가공 또한 가능함</p>
</div>

<table id="data_table" class="table table-bordered">
    <thead>
        <tr>
           <th>id</th> 
           <th>name</th>
           <th>gender</th>
           <th>address</th>
        </tr>
    </thead>
</table>


<!-- js -->
<script src="js/javascript/datatables.js"></script>