<table id="data_table" class="table table-bordered">
    <thead>
        <tr>
           <th>id</th> 
           <th>name</th>
           <th>gender</th>
           <th>address</th>
        </tr>
    </thead>
</table>


<!-- js -->
<script src="js/javascript/datatables.js"></script>