<div class="page-header">
    <h1>DataTables API</h1>
    <P>기본적 테이블에 뿌려줄 데이터를 넘겨주면 밑에처럼 표기해줌</P>
    <p>json파일 안에 데이터를 가져와 처리하는 형식으로 만들었지만, ajax를 통해 데이터를 가져와서 뿌려주고 처리해주는 것도 가능함.</p>
    <p>뿌려질 때도 데이터 그대로만 뿌려줄 뿐만 아니라 상황에 따라 다르게 가공 또한 가능함</p>
</div>

<table id="data_table" class="table table-bordered">
    <thead>
        <tr>
           <th>id</th> 
           <th>name</th>
           <th>gender</th>
           <th>address</th>
        </tr>
    </thead>
</table>

<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. ejs 소스보기
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <img src="img/javascript/datatables/ejs.png">
        </div>
      </div>

    </div>

    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. js 소스보기
          </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <div class="col-sm-6">
                <img src="img/javascript/datatables/js.png">
            </div>
            <div class="col-sm-6">
                <p>getJson : json파일 안에 있는 데이터를 가져오는 함수</p>
                <p>drawTable : data_table를 datatables로 적용시키고 json데이터를 테이블에 그려줌.</p>
                <p>json파일에서 추출한 key 값과 columns의 data가 일치하면됨</p>
            </div>
        </div>
      </div>

    </div>
</div>

<!-- js -->
<script src="js/javascript/datatables.js"></script>