<div class="page-header">
    <h1>DataTables API</h1>
    <P>기본적 테이블에 뿌려줄 데이터를 넘겨주면 밑에처럼 표기해줌</P>
    <p>json파일 안에 데이터를 가져와 처리하는 형식으로 만들었지만, ajax를 통해 데이터를 가져와서 뿌려주고 처리해주는 것도 가능함.</p>
    <p>뿌려질 때도 데이터 그대로만 뿌려줄 뿐만 아니라 상황에 따라 다르게 가공 또한 가능함</p>
</div>

<table id="data_table" class="table table-bordered">
    <thead>
        <tr>
           <th>id</th> 
           <th>name</th>
           <th>gender</th>
           <th>address</th>
        </tr>
    </thead>
</table>

<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. ejs 소스보기
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <img src="img/javascript/datatables/ejs.png">
        </div>
      </div>

    </div>

    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. js 소스보기
          </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <img src="img/javascript/datatables/js.png">
        </div>
      </div>

    </div>
</div>

<div class="page-header">
  <h2>DataTables API <small>option createdRow사용해보기</small></h2>
  <p>tr이 생성될 때 추가적으로 더 작업을 해줄 수 있음</p>
  <p>데이터를 조작하거나, 데이터를 추가하던가 등 다양한 작업이 가능</p>
  <p>아래 예제는 name에 a태그를 통해 함수를 호출하고, 해당 row의 index번호로 데이터 전체를 alert에 뿌려주게함</p>
</div>

<table id="data_table2" class="table table-bordered">
  <thead>
      <tr>
        <th>id</th> 
        <th>name</th>
        <th>gender</th>
        <th>address</th>
      </tr>
  </thead>
</table>

<br>

<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
   
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="heading1">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          1. ejs 소스보기
        </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">
        <img src="img/javascript/datatables/ejs2.png">
      </div>
    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="heading2">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          2. js 소스보기
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body">
          <img src="img/javascript/datatables/js2.png" width="100%">
      </div>
    </div>

  </div>
</div>

<div class="page-header">
    <h2>DataTables API <small>add row</small></h2>
    <p>이름 그대로 1개의 row를 table에 추가함</p>
</div>

<div class="form-inline mrgB20">
    <div class="form-group">
      <input type="text" class="form-control" id="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="gender" placeholder="Enter gender">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="address" placeholder="Enter address">
    </div>
    <button onClick="addRow()" class="btn btn-default">Add</button>
</div>

<table id="data_table3" class="table table-bordered">
    <thead>
        <tr>
          <th>id</th> 
          <th>name</th>
          <th>gender</th>
          <th>address</th>
        </tr>
    </thead>
</table>

<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
   
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="heading3">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
          1. ejs 소스보기
        </a>
      </h4>
    </div>

    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body">
        <img src="img/javascript/datatables/ejs3.png">
      </div>
    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="heading4">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          2. js 소스보기
        </a>
      </h4>
    </div>

    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
        <div class="col-sm-6">
          <img src="img/javascript/datatables/js3.png" width="100%">
        </div>
        <div class="col-sm-6">
          <img src="img/javascript/datatables/js33.png" width="100%">
        </div>
      </div>
    </div>

  </div>
</div>

<!-- js -->
<script src="js/javascript/datatables.js"></script>