<div class="jumbotron">
    <div class="container">
        <p>NodeJS와 Express 기반의 웹 페이지 입니다.</p>
        <p>여러가지 JavaScript 라이브러리, ElasticSearch 등을 연습하려고 만들었습니다.</p>
    </div>
</div>

<div class="page-header">
    <h1>현재까지 사용한 것들</h1>
</div>

<div class="row">
    <!-- nodejs, express -->
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="img/node.png" alt="nodeJS express">
            <div class="caption">
                <h3>NodeJS + Express</h3>
                <p>
                    NodeJS : 확장성 있는 네트워크 애플리케이션(특히 서버 사이드) 개발에 사용되는 소프트웨어 플랫폼.
                </p>
                <p>
                    <a href="https://nodejs.org/ko/" data-toggle="tooltip" data-placement="top" title="NodeJS 홈페이지 열기" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>

                <p>
                    Express : 웹 및 모바일 애플리케이션을 위한 일련의 강력한 기능을 제공하는 간결하고 유연한 Node.js 웹 애플리케이션 프레임워크.
                </p>
                <p>
                    <a href="https://expressjs.com/ko/" data-toggle="tooltip" data-placement="top" title="express 홈페이지 열기" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>
                
                <p>
                    Layout은 express-ejs-layouts을 사용
                </p>
                <p>
                    <a href="https://www.npmjs.com/package/express-ejs-layouts" data-toggle="tooltip" data-placement="top" title="express-ejs-layouts 홈페이지 열기" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                    <a href="https://minu0807.tistory.com/41" data-toggle="tooltip" data-placement="top" title="사용 방법 블로그 열기" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>적용 예제</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Bootstrap -->
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="img/bootstrap.png" alt="Bootstrap">
            <div class="caption">
                <h3>Bootstrap</h3>
                <p>
                    웹사이트를 쉽게 만들 수 있게 도와주는 HTML, CSS, JS 프레임워크. 다양한 기능을 제공하여 사용자가 쉽게 웹사이트를 제작, 유지, 보수할 수 있도록 도와준다.
                </p>
                <p>
                    <a href="http://bootstrapk.com/" data-toggle="tooltip" data-placement="top" title="NodeJS 홈페이지 열기" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="img/jquery.png" alt="jQuery">
            <div class="caption">
                <h3>jQuery</h3>
                <p>
                    HTML의 클라이언트 사이드 조작을 단순화 하도록 설계된 크로스 플랫폼의 자바스크립트 라이브러리.
                </p>
                <p>
                    <a href="https://jquery.com/" data-toggle="tooltip" data-placement="top" title="jQuery 홈페이지" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Vue -->
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="img/vue.png" alt="Vue">
            <div class="caption">
                <h3>VueJS</h3>
                <p>
                    웹 애플리케이션의 사용자 인터페이스를 만들기 위해 사용하는 오픈 소스 프로그레시브 자바스크립트 프레임워크.
                </p>
                <p>
                    <a href="https://kr.vuejs.org/v2/guide/index.html" data-toggle="tooltip" data-placement="top" title="VueJS 홈페이지" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>
            </div>
        </div>
    </div>
    <!-- DataTables -->
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="img/dt.jpg" alt="DataTables">
            <div class="caption">
                <h3>DataTables</h3>
                <p>
                    HTML 테이블에 정렬, 페이징 및 필터링 기능을 추가 하는 jQuery Javascript 라이브러리이다.
                    테이블 향상 플러그인으로 간편하게 데이터를 테이블에 넣고 다양한 기능을 사용할 수 있다.
                </p>
                <p>
                    <a href="https://datatables.net/" data-toggle="tooltip" data-placement="top" title="DataTables 홈페이지" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>공식홈</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
<script src="js/main/main_func.js"></script>