<%- include('header') %>
        <!-- 메인 영역 -->
        <div class="col-sm-12">
            <div style="width: 65%; float: none; margin: 0 auto; padding-top:55px;">
                <div class="col-sm-12" style="margin-top: 15px;">
                    <%- body %>
                </div>
            </div>
        </div>
        <%- script %>
        <!-- 메인 영역 끝-->
<%- include('footer') %>