<div class="page-header">
    <h1>window 객체 테스트<small>자식창</small></h1>
    <P>input 창에 텍스트 입력 후 버튼을 누르면 부모창에 있는 함수를 호출하고 텍스트를 넘김</P>
</div>

<input type="text" id="sendMsg">
<button class="btn btn-primary" onclick="callParent()">부모창 함수 호출</button>

<!-- js -->
<script src="js/test/test4.js"></script>