<div class="page-header">
    <h1>window 객체 테스트<small>부모창</small></h1>
    <P>자식창에서 전달 받은 값을 화면에 뿌려주고 자식창을 닫음</P>
</div>

<button class="btn btn-primary" onclick="openWindow()">새창열기</button>

<pre id="inputPre"></pre>
<!-- js -->
<script src="js/test/test3.js"></script>