<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹 소켓 테스트</title>
</head>
<body>
  <script>
    const webSocket = new WebSocket('ws://localhost:8081');
    webSocket.onopen = () => {
      console.log('웹 소켓 연결 성공!!');
    }
    webSocket.onmessage = (event) => {
      console.log(event.data);
      webSocket.send('클라이언트에서 서버로 답장!');
    }
  </script>
</body>
</html>